    <tr>
      <td><%= link.title %></td>
      <td><%= link.url %></td>
      <td data-link-id="<%= link.id %>" class="read-status"><%= link.read %></td>
      <td id="edit" data-link-id="<%= link.id %>" ><%= link_to 'Edit', edit_link_path(link), class: 'btn'%></td>
    </tr>
