<div class="link-form">
  <%= form_for @link do |f| %>
    <%= render partial: "shared/errors", locals: { target: @link } %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Save", class: 'btn'%>
  <% end %>
</div>
