<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script> -->
</head>

<body>
  <div class="flash" style="text-align:center">
    <% flash.each do |type, message| %>
      <% if type == "success" %>
        <%= content_tag :div, sanitize(message) %>
      <% elsif type == "error" %>
        <%= content_tag :div, sanitize(message) %>
      <% else %>
      <%= content_tag :div, sanitize(message) %>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
